@import '~/src/scss/index.scss';

.auth {
    background-image: url('../../../assets/jpg/auth-bg.jpg');
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;

    .logo {
        // Tamaño Logo
        max-width: 800px;
           /* Posicionamiento */
        position: relative; /* Establece la posición relativa para el elemento */
        left: -500px; /* Mueve el logo 50 píxeles hacia la derecha */
        top: -20px; /* Mueve el logo 20 píxeles hacia abajo */
        //Posicion Auth
        margin-bottom: 20px;
    }

    &__form {
        display: flex;
        width: 470px;
        flex-direction: column;
        align-items: center;
        // Fondo auth color
        background-color: #0077b5;
        padding: 6px;
        // -----------
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        margin-top: 20px;
        margin-bottom: 10px;
        .form__tab-menu .item.active {
            background-color: #e6e6e6;;
        }
        
    }
}

.auth-form__tab {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-form__tab-pane {
    padding: 20px;
    background-color: #c85f5f;
}

.auth-form__tab-menu {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
}

.auth-form__tab-menu .item {
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
}

.auth-form__tab-menu .item.active {
    background-color: #e6e6e6;
}