$primary: #1890ff;
$primary-hover: #0280b3;
$secondary: #f5222d;

$light: #f5f5f5;
$text-light: #fff;

$background-dark: #9cbf96;
$background-grey: #f0f3f4;
$background-dark-web: #16212b;

$border-grey: #808080;
$border-grey-hover: #c4c4c4;

// Status
$success: #52c41a;
$warning: #faad14;
// Error en el Servidor
$error: #fd0202;
$info: #1890ff;

// Social color
$linkedin: #0077b5;

$dark: #000000;
$white: #ffffff;
